.coffee-cup {
  position: absolute;
}

.container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 70px;
  height: 180px;
}

.coffee-cup {
  width: 70px;
  height: 150px;
  border-top: 14px solid #352f2f;
  box-shadow: 4px 6px 10px rgb(161, 161, 161);
  border-radius: 12%;
  background: transparent;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0) perspective(10px) rotateX(-1.3deg);
}

.coffee-cup .pour {
  width: 6px;
  position: absolute;
  z-index: 10;
  left: 50%;
  margin-left: -3px;
  bottom: 0;
  top: 0;
  background: currentColor;
}


.coffee-cup #waveShape {
  animation-name: waveAction;
  animation-iteration-count: 6;
  animation-timing-function: linear;
  animation-duration: 0.5s;
  width: 100px;
  height: 150px;
  fill: currentColor;
}

@keyframes waveAction {
  0% {
    transform: translate(-150px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

